<header class="page-header">
    <h2>Dark Header Layout</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <%= link_to dashboard_path, data: { turbolinks: false } do %>
                    <i class="fas fa-home"></i>
                <% end %>
            </li>
            <li><span>Layouts</span></li>
            <li><span>Dark Header</span></li>
        </ol>
    </div>
</header>


<section class="card">
    <header class="card-header">
        <h2 class="card-title">Dashboards#index</h2>
        <p class="card-subtitle">It's easy to create custom graphs on Porto Admin Template, there are several graph types that you can use.</p>
    </header>
    <div class="card-body">
        <p>Find me in app/views/dashboards/index.html.erb</p>
    </div>
</section>