<div class="container-fluid black main-container-5">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="content-1 pull-right">
                <h2 class="title-text">Be a Volunteer Our Community</h2>
                <div class="wave-line"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="buttons">
                    <a href="https://thx-html.fruitfulcode.com/charity-login" class="red-btn red-btn-5">Join Us Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 pos-ab">
            <div class="offset-image-1">
                <div class="shadow-r"></div>
            </div>
        </div>
    </div>
</div>