 <div class="main-container-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div>
                    <p>
                        <%= image_tag "woman-girl.jpg" %>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="container-text">
                    <h2 class="title-text">Make Every Single Kind Gesture Count!</h2>

                    <div class="wave-line"></div>
                    <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </strong>

                    <p class="paragraph">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu.
                    </p>

                    <div class="buttons">
                        <a href="https://thx-html.fruitfulcode.com/charity-contact" class=" red-btn red-btn-1">Contact With Us</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>