<div class="main-container-2 grey">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 text-center mb">
                <div class="images">
                    <p>
                        <%= image_tag "drop.png" %>
                    </p>
                </div>
                <div class="images-text">
                    <h2><a href="https://thx-html.fruitfulcode.com/charity-single-causes">Donation</a></h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center mb">
                <div class="images">
                    <p>
                        <%= image_tag "circle.png" %>
                    </p>
                </div>
                <div class="images-text">
                    <h2><a href="https://thx-html.fruitfulcode.com/charity-features">Get Involved</a></h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="images">
                    <p>
                        <%= image_tag "heart.png" %>
                    </p>
                </div>
                <div class="images-text">
                    <h2><a href="https://thx-html.fruitfulcode.com/charity-login">Join Us</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>