<div class="menuBar">
    <nav class="navbar navbar-default ">
        <div class="container p0">
            <div class="navbar-header">
                <div class="logo">
                    <%= link_to root_url,class: "navbar-brand" do %>
                        <%= image_tag("https://thx-html.fruitfulcode.com/wp-content/themes/thx-html/assets/images/logo.png") %>
                        <span>KLDX</span>
                    <% end %>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <div class="navbar-right">

                <div id="navbar-menu" class="collapse navbar-collapse ">
                    <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                role="button" aria-expanded="false" title="Home">HOME</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://thx-html.fruitfulcode.com">HOME CHARITY</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/ecology-home">HOME ECOLOGY</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/charity-404">404 ERROR PAGE</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/charity-login">LOGIN &nbsp;|&nbsp; REGISTER</a></li>
                            </ul>
                        </li>
                        <li class="dropdown features-menu">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                role="button" aria-expanded="false" title="Features">FEATURES</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://thx-html.fruitfulcode.com/charity-features" >FEATURES PAGE</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/charity-gallery" >GALLERY PAGE</a></li>
                            </ul>

                        </li>
                        <li><a href="https://thx-html.fruitfulcode.com/charity-about-us" title="About us">ABOUT US</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                role="button" aria-expanded="false" title="Our causes">OUR CAUSES</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://thx-html.fruitfulcode.com/charity-our-causes">OUR CAUSES LIST</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/charity-our-causes-2-columns">OUR CAUSES 2 COLUMNS</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/charity-our-causes-3-columns">OUR CAUSES 3 COLUMNS</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/charity-single-causes">SINGLE CAUSES</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                role="button" aria-expanded="false" title="News">NEWS</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://thx-html.fruitfulcode.com/charity-news">NEWS LIST</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/charity-news-2-columns">NEWS 2 COLUMNS</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/charity-news-3-columns">NEWS 3 COLUMNS</a></li>
                                <li><a href="https://thx-html.fruitfulcode.com/charity-blog-single">SINGLE POST</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                role="button" aria-expanded="false" title="Shop">SHOP</a>
                            <ul class="dropdown-menu" role="menu">
                                <li ><a href="https://thx-html.fruitfulcode.com/charity-shop">SHOP PAGE</a></li>
                                <li ><a href="https://thx-html.fruitfulcode.com/charity-shop-product">SHOP PRODUCT</a></li>
                            </ul>
                        </li>
                        <li class="last"><a href="https://thx-html.fruitfulcode.com/charity-contact" title="Contact">CONTACT</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>