<div class="number" id="counts">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 mb center ">
                <div class="text">
                    <p>
                        <span class="spincrement">500</span>
                        <span class="text-1"> Successful Projects </span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 mb center ">
                <div class="text">
                    <p>
                        <span class="spincrement">1534</span>
                        <span class="text-1"> People Impacted </span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 mb center ">
                <div class="text">
                    <p>$
                        <span class="spincrement ml">14432</span>
                        <span class="text-1"> Money Donated </span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 center ">
                <div class="text">
                    <p><span class="spincrement">189</span>
                        <span class="text-1"> Total Volunteers </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>