<div class="slider">
    <div id="home-carousel" class="carousel" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

            <div class="item active slide_1">
                <div class="container p0">
                    <div class="item-content">
                        <div class="gb-middle ">
                            <div class="slider-info ">
                                <h4>Join Charity THX</h4>
                                <h2>Help Senior Citizen</h2>
                                <div class="buttons">
                                    <a href="https://thx-html.fruitfulcode.com/charity-features" class="red-btn red-btn-0">How You Can Help?</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.item-content -->
                </div>
            </div><!-- /.item -->

            <div class="item slide_2 ">
                <div class="container p0">
                    <div class="item-content">
                        <div class="gb-middle">
                            <div class="slider-info">
                                <h4>Join Charity THX</h4>
                                <h2>We love All Children</h2>
                                <div class="buttons">
                                    <a href="https://thx-html.fruitfulcode.com/charity-features" class="red-btn red-btn-0">How You Can Help?</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.item-content -->
                </div>
            </div><!-- /.item -->

            <div class="item slide_3 ">
                <div class="container p0">
                    <div class="item-content">
                        <div class="gb-middle">
                            <div class="slider-info">
                                <h4>Join Charity THX</h4>
                                <h2>Give a Future for Everyone</h2>
                                <div class="buttons">
                                    <a href="https://thx-html.fruitfulcode.com/charity-features" class="red-btn red-btn-0">How You Can Help?</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.item-content -->
                </div>
            </div><!-- /.item -->

        </div><!-- /.carousel-inner -->

        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li class="two" data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>

    </div><!-- /.carousel slide -->
</div>